@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');


/* Tela pequena (smartphones) */
@media screen and (max-width: 430px) {
  .mgx-5 {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .mc {
    margin: 0 1.5vw !important;
  }

  .mc2 {
    margin-top: 0;
  }

  .wd-gui {
    width: 100%;
    margin-top: 3.5vw;
  }

  .container {
    width: 95%;
  }

  .mg-gui {
    margin-bottom: 5vw;
  }

  .font {
    font-size: 3vw;
  }

  img {
    width: 100px;
    height: 100px;
  }

  #produto {
    margin: 0 2vw;
  }

  .produto {
    margin-bottom: 10vw;
    padding: 0 !important;
  }

  .produto-item {
    width: 58vw;
  }

  #search {
    width: 40vw;
  }

  .produto-nome {
    width: 145px;
    white-space: unset !important;
    overflow: unset !important;
    text-overflow: unset !important;
  }

  .produto-item2 {
    width: 38vw;
  }

  .produto-nome2 {
    /* margin-top: 10px; */
    width: 175px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    height: 65px;
    transition: all 0.5s ease 0s;
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    line-height: 1.2;
  }

  #busca {
    width: 75%;
    margin-left: 7vw;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1000;
  }

  .b-left-radius-1 {
    border-radius: 1vw 0vw 0vw 1vw;
  }

  .pd-left-2 {
    padding-left: 2vw;
  }

  .no-border {
    border-color: #00000000;
  }

  .no-outline {
    outline: none;
  }

  .mg-right-0 {
    margin-right: 0;
  }

  .b-right-radius-1 {
    border-radius: 0vw 1vw 1vw 0vw;
  }

  .button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 0;
  }

  .button-arrow {
    display: inline-flex;
    align-items: center;
  }

  .button-arrow.reverse::after {
    content: "←";
    margin-left: 5px;
  }

  .content3 {
    width: 95vw;
    margin-top: 4vw;
  }

  .results-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .social-media {
    margin-top: 0;
    display: flex;
    gap: 18px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .social-media-img {
    margin-right: 0;
    width: 35px;
    height: 35px;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .fit-logo {
    display: flex;
    flex-wrap: nowrap;
    /* align-content: center; */
    justify-content: center;
    align-items: center;
    padding: 0 20vw;
  }

  .all {
    margin-left: 1rem;
  }

  .home-hero__mouse-scroll-cont {
    display: none;
  }

  section {
    background-position: right;
  }

  #selected {
    position: relative;
    top: -1rem;
    margin-left: 0;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .text {
    text-align: start;
    font-size: 18px;
  }

  .text-mt {
    margin-top: 0 !important;
  }

  .text-mt2 {
    margin-top: 1.5vw;
  }

  .navbarg {
    background-color: #212529;
    position: relative;
    z-index: 1;
    padding: 0.5rem !important;
    /* margin-bottom: 0 !important; */
  }

  .categorias {
    position: absolute;
    right: 5vw;
    top: 0vw;
    z-index: 1;
  }

  .posicao {
    position: relative;
    top: -10vw;
  }
}


/* Tela média (tablets) */
@media screen and (min-width: 430px) and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .mgx-5 {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .mg-gui {
    margin-bottom: 5vw;
  }

  .font {
    font-size: 2vw;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .produto {
    margin-bottom: 15vw;
  }

  .produto-item {
    width: 36vw;
  }

  .produto-nome {
    width: 32.5vw;
    font-size: 2vw;
  }

  .produto-preco {
    font-size: 2vw;
  }

  #busca {
    width: 80vw;
  }

  .b-left-radius-1 {
    border-radius: 1vw 0vw 0vw 1vw;
  }

  .pd-left-2 {
    padding-left: 2vw;
  }

  .no-border {
    border-color: #00000000;
  }

  .no-outline {
    outline: none;
  }

  .mg-right-0 {
    margin-right: 0;
  }

  .b-right-radius-1 {
    border-radius: 0vw 1vw 1vw 0vw;
  }

  .button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 0;
  }

  .button-arrow {
    display: inline-flex;
    align-items: center;
  }

  .button-arrow.reverse::after {
    content: "←";
    margin-left: 5px;
  }

  .content3 {
    width: 95vw;
    margin-top: 4vw;
  }

  .results-container {
    grid-template-columns: repeat(1, 1fr);
  }

  fontt {
    font-size: 17px;
  }

  .social-media {
    margin-top: 0;
    display: grid;
    gap: 8px;
  }

  .social-media-img {
    margin-right: 0;
    width: 35px;
    height: 35px;
  }

  .home-hero__mouse-scroll-cont {
    display: none;
  }

  .mc {
    margin: 0 5vw !important;
  }
}


/* Tela média/grande (laptops e desktops) */
@media screen and (min-width: 769px) and (max-width: 1400px) {
  .mgx-5 {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  #baner {
    height: 31vw;
  }

  .fit-logo {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .mg-gui {
    margin-bottom: 2vw;
  }

  img {
    width: 180px;
    height: 180px;
  }

  .produto-item {
    width: 15vw;
  }

  .produto-imagem {
    width: 185px;
    height: 185px;
  }

  .produto-nome {
    width: 13.5vw;
    font-size: 0.9vw;
  }

  .produto-preco {
    margin-top: 5px;
    color: #888;
  }

  .social-media-img {
    margin-right: 1rem;
    width: 45px;
    height: 45px;
  }

  .logo {
    width: 185px;
    height: 185px;
  }

  .font {
    font-style: italic;
    font-size: 22px;
    /* width: 100%; */
  }

}


@media screen and (max-width: 1536px) {
  .all {
    margin: 0 0;
  }
}