@import url(https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap);

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: "ITC Franklin Gothic Std"; */
  /* font-family: fantasy; */
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
}

#produto {
  margin: 0 10vw;
}

#link {
  font-size: small;
  padding: 10px;
  border-radius: 1px;
  transition: box-shadow 0.8s ease;
  text-decoration: none;
  color: rgb(5, 5, 5);
  margin-right: auto;
}

a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 0 0 5px solid rgba(0, 0, 0, 0.3);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
}

.fontt {
  color: white;
}

.me-gg {
  margin-left: 3rem;
}

.rmv-st {
  list-style: none;
}

.mg-gui {
  margin-bottom: 6vw;
}

.svg {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='%23FFFFFF' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f6fbf6' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23edf7ed' cx='50' cy='100' r='50'/%3E%3Cg fill='%23e4f3e5' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23dbefdc' cx='50' cy='200' r='50'/%3E%3Cg fill='%23d2ebd3' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c9e7ca' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c0e4c1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b7e0b8' cx='50' cy='400' r='50'/%3E%3Cg fill='%23aedcb0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a5d8a7' cx='50' cy='500' r='50'/%3E%3Cg fill='%239cd49e' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2393d095' cx='50' cy='600' r='50'/%3E%3Cg fill='%238acc8c' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2381c883' cx='50' cy='700' r='50'/%3E%3Cg fill='%2378c47b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%236fc072' cx='50' cy='800' r='50'/%3E%3Cg fill='%2366bc69' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%235cb860' cx='50' cy='900' r='50'/%3E%3Cg fill='%2353b457' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%234CAF50' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

.font {
  font-style: italic;
}

h1,
h2 {
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#busca {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

::placeholder, .white {
  color: #fff;
}

.results-container {
  /* max-width: 100vw; */
  /* margin: 0px; */
  /* padding: 0px; */
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-right: auto;
}

.result {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.result h3 {
  margin: 0;
}

.result a {
  text-decoration: none;
  color: #0066c0;
}

.result p {
  margin: 0;
  color: #666;
}

.itens-container {
  text-align: center;
  padding: 15px;
}

.logo {
  width: 350px;
  height: 350px;
  background-attachment: fixed;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.btn:hover {
  background-color: #45a049;
}

.background {
  background-color: black;
  color: #fff;
  gap: 20vw;
}

.pd-gui {
  padding: 1.5vw;
}

.pd-gui2 {
  padding: 1.6vw;
}

.caixa-prod {
  display: block;
}

.content {
  display: none;
}

.content2 {
  display: flex;
  margin: 0 2vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-menu {
  display: flex;
}

.tituloProd {
  text-align: start;
  font-weight: 600;
}

/* produto feed e categoria */

.produto {
  display: flex;
  overflow-x: auto;
  margin-bottom: 3.5vw;
  padding: 12px;
}

.produto-item {
  display: grid;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 195px;
  height: 250px;
}

.produto-item:hover {
  transform: scale(0.85);
}

.produto-item2 {
  display: grid;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 195px;
  height: 250px;
}

.produto-item2:hover {
  transform: scale(0.85);
}

.produto-nome {
  margin-top: 10px;
  width: 195px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s ease 0s;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height: 1.2;
}

.produto-nome2 {
  margin-top: 10px;
  width: 195px;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  height: 60px;
  transition: all 0.5s ease 0s;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height: 1.2;
}

.produto-preco {
  margin-top: 5px;
  color: #dc3545;
  font-weight: 600;
  line-height: 1.2;
}

/* produto search */

.produto-nome #search {
  margin-top: 10px;
  width: 195px;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  transition: all 0.5s ease 0s;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  line-height: 1.2;
}


.b-left-radius-1 {
  border-radius: 1vw 0vw 0vw 1vw;
}

.pd-left-2 {
  padding-left: 2vw;
}

.no-border {
  border-color: #00000000;
}

.no-outline {
  outline: none;
}

.mg-right-0 {
  margin-right: 0;
}

.mg-t {
  margin-top: 2rem;
}

.mg-t2 {
  margin-top: 7.5vw;
}

.b-right-radius-1 {
  border-radius: 0vw 1vw 1vw 0vw;
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.all {
  display: flex;
  justify-content: end;
  margin: 0 -3rem;
  align-items: flex-end;
}

.produto.expandido {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -85%) scale(1.45);
  transition: transform 0.5s ease;
}

section {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.image-1 {
  /* background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-image: url("/img/wallpaper2.jpg");
}

.mc {
  margin: 0 15vw !important;
}

.font2 {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
}

.mc2 {
  margin-top: -0.5vw;
}

#search-input {
  border: none;
  background: transparent;
  padding: 10px;
  color: white;
  outline: none;
}

#search-icon {
  color: white;
}

.display {
  display: grid !important;
}

.fecharMais {
  display: inline-block;
  position: absolute;
  right: 10vw;
  z-index: 999;
  opacity: 1.1;
  transition: opacity 0.5s ease 0s;
  padding: 0vw 1vw;
  transform: translate(15%, -1450%);
}

.navbarg {
  background-color: #212529;
  position: relative;
  z-index: 1;
  padding: 0 !important;
  /* margin-bottom: 3rem!important; */
}

/* mouse */

.home-hero__mouse-scroll-cont {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #eee;
  border-radius: 60px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 27px;
  }
}

/* barra de scroll */

body {
  scrollbar-width: thin; /* Para navegadores Firefox */
  scrollbar-color: #dc3545 #f1f1f1; /* Cor do botão de rolagem e da área de trilha */
}

/* Para navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 3px; 
}

::-webkit-scrollbar-thumb {
  background-color: #dc3545; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}
